@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url("../fonts/HelveticaNeueCyr-ThinItalic.woff2") format('woff2'),
        url("../fonts/HelveticaNeueCyr-ThinItalic.woff") format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica-Regular.woff2") format('woff2'),
        url("../fonts/Helvetica-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    background-color: #000;
}

.container {
    height: 100%;
}
.row {
    align-items: center;
    text-align: center;
    height: 100%;
}

.scroll-control {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.scroll-control span {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: #4b4a4a;
    opacity: 0.7;
}
.scroll-control span:hover {
    opacity: 1;
}
@media all and (max-width: 1023px) {
    .scroll-control span {
        display: none;
    }
}

/* canvas */
.s-one {
    background: linear-gradient(-45deg, #dbd9d9, #4d4d4d, #000000, #3b3b3b);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.button-scroll {
    margin-top: 100px;
    width: 43px;
    height: 43px;
    background-color: transparent;
    border-color: transparent;
    transition: all 0.3s cubic-bezier(.47,1.64,.41,.5);
    z-index: 20;
}

.button-scroll:hover {
    transform: scale(1.5);
}

/* Hero section */

.hero {
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    background-color: #000;
}

.hero-content-wrapper {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
}

.hero-logo {
    position: absolute;
    left: -1746px;
    top: 101%;
    z-index: 1;
    width: 1746px;
    height: 688px;
    border-radius: 344px;
    background-color: #ffffff;
}

.hero-text {
    display: flex;
    position: absolute;
    top: 101%;
    z-index: 2;
    left: -1581px;
    width: 1581px;
    height: 689px;
    border: 1px solid #FFF;
    border-radius: 344px 344.5px 344.5px 344px;
    background-color: #000;
    align-items: center;
    justify-content: end;
}



.active.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.active.slide-left-text {
    animation: slide-in-left-text 1.5s ease-out both;
}


@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(1280px);
      transform: translateX(1280px);
      opacity: 1;
    }
  }

@keyframes slide-in-left-text {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(931px);
      transform: translateX(931px);
      opacity: 1;
    }
}


.hero-logo-1 {
    display: block;
    margin-top: 234px;
    margin-bottom: 0;
    margin-right: 57px;
}

.hero-logo-2 {
    display: block;
    margin-bottom: 229px;
    margin-right: 35px;
}

.active.hero-fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out 1.5s;
}

.hero-content {
    text-align: right;
}

.content-description-text {
    margin-right: 77px;
    font-size: 36px;
    color: #ffffff;
}

.nav-hero-wrapper {
    position: absolute;
    /* 707px */
    top: 85%;
    left: 80px;
    /* 80px */
    z-index: 10;
    width: 130px;
    background-color: #000;
    border: 1px solid #FFF;
    border-radius: 75.248px;
    opacity: 0;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}


.navigation-list-item {
    margin-bottom: 50px;
}

.navigation-list-item:first-child {
    margin-top: 60px;
}

.navigation-list-item:nth-child(8) {
    margin-bottom: 103px;
}

.navigation-list-item:last-child {
    margin-bottom: 44px;
}

.navigation-list-item a {
    font-family: 'HelveticaNeueCyr';
    font-weight: 100;
    font-style: italic;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.5);
}

.navigation-list-item a:hover {
    font-size: 20px;
    opacity: 0.7;
}

.nav-hero-wrapper.active {
    animation: slide-in-up 1.5s ease-in-out both;
    animation-delay: 2s;
}

@keyframes slide-in-up {
    0% {
      -webkit-transform: translateY(671px);
      transform: translateY(671px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(147px);
      transform: translateY(147px);
      opacity: 1;
    }
}

.active.nav-fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out 3s;
}

/* hero section end */

/* servises section start */

.services {
    background-color: #000000;
}

.servises-content-wrapper {
    display: grid;
    position: relative;
    top: 188px;
    left: -100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1248px;
    margin: 0;
    row-gap: 72px;
}

.active.fade-in-services {
    animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.services-item-block {
    margin: 0;
    padding: 0;
    margin-left: -10px;
    width: 424px;
    height: 188px;
    border: 1px solid #FFF;
    border-radius: 344px 344.5px 344.5px 344px;
    color: #FFF;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.5);
}

.services-item-block:hover {
    transform: scale(1.2);
}

.services-list {
    margin: 0;
    padding: 0;
}

.services-list h3 {
    font-family: 'Helvetica';
    font-size: 36px;
    margin-left: 49px;
    margin-top: 20px;
}

.services-list-item {
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-left: 59px;
}

.discuss-content-wrapper {
    position: relative;
    top: 255px;
    left: 315px;
    z-index: 60;
    display: flex;
    width: 412px;
    height: 412px;
    background-color: #000;
    border: 1px solid #FFF;
    border-radius: 412px;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.discuss-content-wrapper:hover {
    background-color: #FFF;
}

.discuss-content-wrapper:hover a,
.discuss-content-wrapper:hover h3,
.discuss-content-wrapper:hover p:last-child {
    color:#000;
}




.discuss-content-wrapper p:first-child {
    width: 209px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 73px;
}

.discuss-content-wrapper a {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: 'HelveticaNeueCyr';
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
}

.discuss-content-wrapper h3 {
    font-family: 'HelveticaNeueCyr';
    font-size: 36px;
    font-style: italic;
    line-height: normal;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 19px;
}

.discuss-content-wrapper p:last-child {
    width: 240px;
    text-align: center;
    font-family: 'HelveticaNeueCyr';
    font-size: 20px;
    font-style: normal;
    color: #FFF;
}

/* services section end */

/* grid-image section start */

.s-four {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.image-grid-shadow {
    position: absolute;
    z-index: 1;
    top: 78px;
    left: 10px;
    width: 1500px;
    height: 630px;
    border-radius: 315px;
    background: #000000;
    opacity: 0;
}

.image-grid {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 140px;
    margin-bottom: 10px;
    padding-top: 120px;
    padding-bottom: 80px;
    width: 1500px;
    height: 630px;
    border-radius: 315px;
    border: 1px solid #000;
    background: #FFF;
    opacity: 0;
}
/* animation for revealing image-grid */

.image-grid-shadow.active {
    animation: slide-up-shadow 1s ease-in-out both;
}

@keyframes slide-up-shadow {
    0% {
        opacity: 0;
        transform: translateY(630px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.image-grid.active {
    animation: slide-up-shadow 1s ease-in-out both 1s;
}

@keyframes slide-up-shadow {
    0% {
        opacity: 0;
        transform: translateY(400px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.row-images {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0;
}
/* below is animation for images rows */

.row-images:first-child.active {
    animation: opacity-fade 2s ease-in-out both 1s;
}

.row-images:nth-child(2).active {
    animation: opacity-fade 2s ease-in-out both 1.5s;
}

.row-images:nth-child(3).active {
    animation: opacity-fade 2s ease-in-out both 2s;
}

@keyframes opacity-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.grid-image {
   height: 100%;
}

/* end of the section */

/* contact section start */
.s-six {
    background-color: #000;
}

.contacts-wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 800px;
    border-radius: 0 315px 315px 0;
    border: 1px solid #FFF;
    border-left: none;
    background-color: #000;
}

.contact-form-wrapper h2 {
    margin-left: 176px;
    margin-top: 48px;
    margin-bottom: 39px;
    font-family: 'HelveticaNeueCyr';
    font-size: 36px;
    font-weight: 300;
    color: #FFF;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
    margin-bottom: 24.5px;
    margin-left: 176px;
    color:#FFF;
    padding-left: 47px;
    font-family: 'HelveticaNeueCyr';
    font-size: 20px;
    font-weight: 300;
    width: 454px;
    height: 60px;
    border-radius: 30px;
    border: 0.5px solid #FFF;
    background-color: #000;
}

textarea {
    margin-bottom: 0;
}


input[type=radio] {
    border-color: #FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid white;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    transition: border-color 0.2s ease-in-out;
}

input[type=radio]:checked {
    border-color: rgb(67, 67, 67);
    background-color: rgb(99, 99, 99);
}

.radio-label {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-bottom: 30px;
}

label input[type="radio"] {
    margin-right: 8px;
}


.agree-text {
    display: inline-block;
    font-family: 'HelveticaNeueCyr';
    font-size: 10px;
    font-weight: 300;
    color: #FFF;
}

input[type=submit] {
    width: 454px;
    height: 60px;
    margin-left: 176px;
    margin-bottom: 54px;
    text-align: center;
    font-family: 'HelveticaNeueCyr';
    font-size: 20px;
    font-weight: 500;
    color: #000;
    background-color: #FFF;
    border-radius: 30px;
}

.contact-logo-wrapper{
    display: flex;
    flex-direction: column;
    margin-right: 112px;
    margin-left: 169px;
    margin-top: 180px;
    width: 319px;
}

.contact-us-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 580px;
    height: 254px;
    border-radius: 344px 0px 0px 0px;
    border: 1px solid #FFF;
    background: #FFF;
}

.contact-us-list {
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeueCyr';
    list-style: none;
}

.contact-us-list h3 {
    font-size: 36px;
    margin-left: 149px;
    margin-top: 53px;
    margin-bottom: 22px;
}

.contact-us-list-item a {
    color: #000000;
}

.socials {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.socials li {
    margin-right: 30px;
}

.socials a {
    color: #000;
}

.contact-us-list-item,
.socials-item:first-child {
    margin-left: 149px;
}

/* reveal animation for contacts */


.contact-form-wrapper.active {
    animation: slide-from-left 1s ease-in-out;
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-800px);
    }
    100% {
        transform: translateX(0);
    }
}

.contact-logo-wrapper.active {
    animation: fade-in-logo 1s ease-in-out;
}

@keyframes fade-in-logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.contact-us-wrapper.active {
    animation: slide-diagonally 1s ease-in-out both;
}

@keyframes slide-diagonally {
    0% {
        opacity: 0;
        transform: translate(580px, 254px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* reveal animation for contacts  above*/

.s-five {
    background-color: #f0d53b;
}


